[submodule "cFDK"]
	path = cFDK
	url = git@github.ibm.com:cloudFPGA/cFDK.git
[submodule "Vitis_Libraries"]
	path = Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
[submodule "hlslib"]
	path = hlslib
	url = https://github.com/definelicht/hlslib.git
