[submodule "cFDK"]
	path = cFDK
	url = https://github.com/cloudFPGA/cFDK.git
[submodule "Vitis_Libraries"]
	path = Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
[submodule "hlslib"]
	path = hlslib
	url = https://github.com/definelicht/hlslib.git
[submodule "HOST/PracticalSockets"]
	path = HOST/PracticalSockets
	url = https://github.com/diamantopoulos/PracticalSockets.git
[submodule "HOST/custom/memtest/languages/cplusplus/segretini-matplottini"]
	path = HOST/custom/memtest/languages/cplusplus/segretini-matplottini
	url = https://github.com/DavideConficconi/segretini-matplottini.git
